.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


.App-link {
  color: #61dafb;
}

.centered {
  height: auto; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.times_parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.times {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.times .choices {
  width: 50px;
  margin: 5px;
  text-align: center;
}

.display_message {
  font-size: 50px;
  color: red;
  font-weight: bold;
}