.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.App-link {
  color: #61dafb;
}

.centered {
  height: 50vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}