.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


.App-link {
  color: #61dafb;
}

.centered {
  height: auto; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttonHolder{
  height: auto; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.buttonHolder button{
  background-color: #9D2235;
  color: white;
  padding: 5px 15px;
}


.times_parent {
  display: flex;
  align-items: center;
  justify-content: center;
} 

.times {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.times .choices {
  width: 50px;
  margin: 5px;
  text-align: center;
}

.display_message {
  font-size: 50px;
  color: red;
  font-weight: bold;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}